.idea/

airflow/logs
airflow/dags/__pycache__/
airflow/dbt_venv/*
airflow/dags/dbt/target/*
airflow/dags/dbt/logs/
airflow/dags/dbt/dbt_packages/
airflow/dags/dbt/package-lock.yml
airflow/dags/dbt/profiles.yml
airflow/dags/dbt/.user.yml
!dbt/target/manifest.json
airflow/airflow-*
airflow/jobs/iceberg/metadata.json

minio/.minio.sys
minio/warehouse/

spark/data/checkpoints/
spark/warehouse/*
spark/input_jars/*

**/__init__.py

synthetic_data_vault/*.json
synthetic_data_vault/*.pickle

postgres/pgdata/

trino/data/*

node_modules/*
